*{
    padding: 0px;
    margin: 0px;
}
#profile{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
#profile_bell{
    height: 30px;
}
.profile_name{
    font-weight: bold;
    font-size: 19px;
    
}
.profile_img{
    height: 40px;
    border-radius: 50%;
}
#populer_courses{
    background-color: #F9F9F9;
}
.pc_loc_main{
    margin-bottom: 2%;
}
.pop_courses_location{
    display: inline;
    color: #757575;
    font-size: 19px;
    /* margin-bottom: 10%; */
}
.pc_link_btn{
    float: right;
}
.card-title{
    color: #303030;
}
.card{
    margin-bottom: 5%;
}
.pt_card{
    display: flex;
    align-items: center;
}

.home2_main{
    position: relative;
}
.position_card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    position: absolute;
    padding: 2%;
    top: 50%;
    left: -20%;
    width: 40%;
    z-index: 4;
    background-color: white;
  }
  
  .position_card_cont {
    padding: 1%;
  }
  .position_card>img{
      width: 20%;
  }
  .reviews_card_img{
      width: 40% !important;
      height: 40% !important;
      border-radius: 50% !important;
  }

.uc_event_card_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}